.custom-list {
  border-bottom: 1.5px solid #f5693e;
  display: flex;
}

.react-tabs {
  font-size: 18px;
}

.react-tabs__tab--selected {
  border: 1.5px solid #f5693e;
  border-bottom: none;
  color: #f5693e;
  font-weight: 600;
}
